*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-text{
    width: 60%;
    max-width: 600px;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.separed{
    justify-content: space-evenly;
    align-items: center;
}
.aberto{
    translate:-150px;
}
section{
    min-height: 70vh;
    padding: 5%;
}
h1,h2,h3{
    font-family: 'Cormorant Garamond';
    font-weight: 500;
    font-size: 1.7em;
}
body{
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
}
header{
    height: 80px;
    
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
    border-bottom: 1px solid #f4f4f4;
    padding: 0 0.5%;
}
header h1{
    width: 300px;
}
ul{
    list-style: none;
}
header ul{
    width: 100%;
    height: 100%;
}
header img{
    border-right: 1px solid #888888;
    height: 30px;
    margin-right: 5px;
    padding-right: 5px;
}
footer{
    min-height: 300px;
}
header nav{
    width: calc(100% - 350px);
    height: 100%;
}
header nav a, a:visited{
    font-size: 0.95em;
    text-decoration: none;
    color: black;
    padding: 25px;
    cursor: pointer;

}
#cursos{
    background-color: #f4f4f4;
    gap: 40px;
}
#imagem{
    background-color: #989898;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
#container-footer{
    width: 70%;
    margin: auto;
}
#apresentacao{
    padding-top: 100px;
}

#menu{
    height: 20px;
    width: 24px;
    display: none;
    cursor: pointer;
}
#menu span{
    height: 1px;
    width: 100%;
    background-color: black;
    position: relative;
    border-radius: 1px;
}
span:nth-child(1){
    top: 0;
}
span:nth-child(2){
    top: 6px;
}
span:nth-child(3){
    top: 12px;
}
#sidebar{
    width: 150px;
    position: fixed;
    top: 80px;
    right: -150px;
    height: 200px;
    background-color: white;
    border-left: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    transition: translate 1s;
    border-radius: 0px 5px;
}
#sidebar ul{
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
}


/* #menu{
    display: none;
    width: 24px;
    height: 16px;
    justify-content: center;
    cursor: pointer;
    margin-right:0.5% ;
}

#menu span{
    display: block;
    height: 2px;
    width: 100%;
    background-color: black;
    margin-bottom: 3px;
} */
@media(max-width:740px){
    header #button-container{
        display: none;
    }
    header #menu{
        display: flex;

    }
    
    .box-text{
        width: 100%;
    }
}
