* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

a, a:visited {
  font-size: 0.95em;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  background-color: #fdfdfd;
}

.box-text {
  width: 60%;
  max-width: 600px;
  text-align: center;
  line-height: 40px;
  margin-top: 10px;
}

.aberto {
  translate: -150px;
}

section {
  min-height: 70vh;
  padding: 5%;
}

h1, h2, h3 {
  font-family: "Cormorant Garamond";
  font-weight: 500;
  font-size: 1.7em;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fdfdfd;
  border-bottom: 1px solid #f2f2f2;
  padding: 0 calc(0.4% + 5px);
}
header img {
  border-right: 1px solid #888888;
  height: 30px;
  margin-right: 5px;
  padding-right: 5px;
}
header h1 {
  width: 300px;
}
header .button-container {
  width: calc(100% - 350px);
  height: 100%;
}
header .button-container ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
}
header .button-container ul a, header .button-container ul a:visited {
  padding: 25px;
}
header .menu {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 15px;
  width: 24px;
  cursor: pointer;
  display: none;
}

span.dash {
  display: block;
  height: 1px;
  width: 100%;
  background-color: black;
  position: relative;
  border-radius: 1px;
}

.sidebar {
  position: fixed;
  top: 0px;
  right: -150px;
  width: 150px;
  height: 250px;
  background-color: #fdfdfd;
  transition: translate 0.7s;
  border-left: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 0px 5px;
}
.sidebar .menu-sidebar {
  height: 25px;
  width: 25px;
  margin-right: 100px;
  cursor: pointer;
}
.sidebar .menu-sidebar span:nth-child(1) {
  top: calc(50% + 1px);
  rotate: 45deg;
}
.sidebar .menu-sidebar span:nth-child(2) {
  top: 50%;
  rotate: -45deg;
}
.sidebar ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
}

main section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
main section:nth-child(2n) {
  background-color: #f2f2f2;
}
main #apresentacao {
  padding-top: 100px;
}
main #cursos {
  gap: 40px;
}

footer {
  min-height: 230px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
footer a {
  text-decoration: underline;
}

#container-footer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  gap: 32px;
}

#imagem {
  background-color: #989898;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

@media (max-width: 740px) {
  header .button-container {
    display: none;
  }
  header .menu {
    display: flex;
  }
  .box-text {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */